<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>
            MainServlet
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ListarAlunoServlet</servlet-name>
        <servlet-class>br.edu.ifpe.recife.pdsw.controller.ListarAlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirAlunoServlet</servlet-name>
        <servlet-class>br.edu.ifpe.recife.pdsw.controller.ExcluirAlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarAlunoServlet</servlet-name>
        <servlet-class>br.edu.ifpe.recife.pdsw.controller.AlterarAlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarAlunoServlet</servlet-name>
        <servlet-class>br.edu.ifpe.recife.pdsw.controller.EditarAlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroAlunoServlet</servlet-name>
        <servlet-class>br.edu.ifpe.recife.pdsw.controller.CadastroAlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>br.edu.ifpe.recife.pdsw.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarProf</servlet-name>
        <servlet-class>br.edu.ifpe.recife.pdsw.controller.EditarProf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarTurmaServlet</servlet-name>
        <servlet-class>br.edu.ifpe.recife.pdsw.controller.EditarTurmaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirTurmaServlet</servlet-name>
        <servlet-class>br.edu.ifpe.recife.pdsw.controller.ExcluirTurmaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProfServlet</servlet-name>
        <servlet-class>br.edu.ifpe.recife.pdsw.controller.AlterarProfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroProfServlet</servlet-name>
        <servlet-class>br.edu.ifpe.recife.pdsw.controller.CadastroProfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroTurmaServlet</servlet-name>
        <servlet-class>br.edu.ifpe.recife.pdsw.controller.CadastroTurmaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>br.edu.ifpe.recife.pdsw.controller.Menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>br.edu.ifpe.recife.pdsw.controller.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarTurmaServlet</servlet-name>
        <servlet-class>br.edu.ifpe.recife.pdsw.controller.AlterarTurmaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>br.edu.ifpe.recife.pdsw.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProfServlet</servlet-name>
        <servlet-class>br.edu.ifpe.recife.pdsw.controller.ExcluirProfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarAlunoServlet</servlet-name>
        <servlet-class>br.edu.ifpe.recife.pdsw.controller.EditarAlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTurmasProf</servlet-name>
        <servlet-class>br.edu.ifpe.recife.pdsw.controller.ListarTurmasProf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarTurmaServlet</servlet-name>
        <url-pattern>/AlterarTurmaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroTurmaServlet</servlet-name>
        <url-pattern>/CadastroTurmaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroProfServlet</servlet-name>
        <url-pattern>/CadastroProfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProfServlet</servlet-name>
        <url-pattern>/AlterarProfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirTurmaServlet</servlet-name>
        <url-pattern>/ExcluirTurmaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarTurmaServlet</servlet-name>
        <url-pattern>/EditarTurmaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProfServlet</servlet-name>
        <url-pattern>/ExcluirProfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarProf</servlet-name>
        <url-pattern>/EditarProf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroAlunoServlet</servlet-name>
        <url-pattern>/CadastroAlunoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarAlunoServlet</servlet-name>
        <url-pattern>/AlterarAlunoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarAlunoServlet</servlet-name>
        <url-pattern>/EditarAlunoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirAlunoServlet</servlet-name>
        <url-pattern>/ExcluirAlunoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAlunoServlet</servlet-name>
        <url-pattern>/ListarAlunoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTurmasProf</servlet-name>
        <url-pattern>/ListarTurmasProf</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
